section.container 
  width: 100%
  margin-top: 40px 
  .filedropzone
    box-sizing: border-box
    height: 346px
    width: 800px
    border-radius: 5px
    background-color: rgba(0,0,0,0.01)
    overflow: auto
    margin: 0 auto 0 10px
    border: 1px solid rgb(208,208,208)
    ul
      scrollbar-base-color: transparent
      scrollbar-track-color: transparent
    &:focus, &:active
      outline: none 
      border: 1px solid rgb(208,208,208)
    #infoarea
      height: 20% 
      margin: 17% auto 0
      width: 60% 
      padding-bottom: 125px
      p 
        height: 22px
        width: 100%
        color: #515151
        font-size: 18px
        font-weight: 400
        margin: 0 auto 20px 
        letter-spacing: 0
        line-height: 22px
        text-align: center
