style(type='text/css').
  body, html, head { 
    background: #d8d8d8; 
    width: 100%;
    height: auto; 
    overflow: auto;
  }
  body { 
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    max-width: unset;
    width: 100%;
    height: auto; 
    overflow: auto;
    margin: 0 auto;
    background: #d8d8d8;
  }
  
  body > div { /* Top level div's only */
    background: #f3f3f3;
  }
  #header { 
    width: 100%; 
    height: 150px; 
  }
  #header a { 
    text-decoration: none;
    color: black;
  }
  #header a h2 { 
    font-family: "Lato", sans-serif; 
    font-size: 3em; 
    padding-top: 20px;
  }
  #header p { 
    font-size: 1em; 
    text-transform: capitalize;
    padding-top: 25px;
  }

  #confirmation { 
    width: 100%;
    height: auto;
    background: white; 
  }
  #confirmation h3 { 
    font-size: 1.25em;
    padding-top: 25px;
  }
  #confirmation p {
    font-size: 0.9em; 
    max-width: 80%;
    display: block;
    margin: 0 auto;
    padding: 25px 0 20px;
  } 

  #retry-button {
    margin: 0 auto; 
    width: 200px;
    height: 35px;
    padding: 0 0 20px 0;
  }

  #retry-button button {
    border-radius: 15px;
    height: 35px; 
    width: 100%;
    margin: 0 auto; 
    background: coral;
    color: white;
    font-weight: 400;
    font-size: 0.95em;
    font-family: "Source Sans Pro", sans-serif;
    border: none; 
    outline: none;
    cursor: pointer;
  }

  .order-information {
    width: 100%; 
    height: auto; 
    overflow: auto;
  }

  .order-information h3 { 
    width: auto; 
    display: block;
    text-align: left;
    float: left; 
    margin: 40px auto 20px 25px; 
    color: coral; 
    font-size: 1.1em; 
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .order-information .item { 
    width: calc(100% - 50px);
    display: block;
    float: left;
    height: 60px; 
    margin: 0 auto 20px 25px;
  }

  .order-information .item .image-wrapper {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100%;
    float: left;
    margin: 0;
  }

  .order-information .item .image-wrapper img {
    float: left; 
    height: 100%; 
    display: block; 
    margin-right: 15px;
    max-width: 100px
  }

  .order-information .item h4 { 
    width: 25%; 
    height: 100%;
    display: block;
    float: left; 
    text-align: left; 
    line-height: 375%;  
  }

  .order-information .item span {
    float: left; 
    display: block; 
    height: 100%;
    text-align: center; 
    width: 20%;
    line-height: 375%;
    text-transform: uppercase;
  }

  .order-information .item p { 
    float: right;
    display: block; 
    text-align: center; 
    margin: 0 0.5% 0 1%;
    line-height: 375%;
  }

  /* Select the last element with the class of "item" */
  [class~='item']:nth-last-of-type(2) { 
    border-bottom: 1px dashed gray;
    padding-bottom: 20px;
  }

  .order-information #order-total { 
    float: left;
    width: calc(100% - 50px);
    height: auto;
    margin: 0 25px 0;

  }

  .order-information #order-total p { 
    float: right; 
    width: auto; 
    text-align: center;
    font-size: 1em;
    padding: 0 1% 0 0;
    line-height: 33px;
  }

  .order-information#shipping {
    padding-bottom: 50px
  }

  .order-information#shipping h3 {
    width: calc(100% - 25px);
  }
  .order-information#shipping #address { 
    width: auto;
    text-align: left; 
    height: auto;
    overflow: hidden;
    float: left; 
    margin: 0 auto 0 25px;
  }

  .order-information#shipping #address p { 
    font-size: 1em;
    padding-bottom: 3px
  }

  .order-information#shipping #address p:after {
    content: ","
  }

  .order-information#shipping #address p:last-of-type:after {
    content: ""
  }

  #footer {
    width: 100%;
    height: auto; 
    overflow: auto;
    background: #ffffff;
    padding: 0
  }

  #footer span {
    width: 80%;
    margin: 0 auto; 
    height: auto;
    min-height: 35px; 
    padding: 35px 0;
    display: block;
  }

  #footer span b, #footer span p, #footer span a {
    margin: 0 3px 0 0;
    width: auto;
    line-height: 23px;
    font-size: 0.985em;
  }

  #footer span a {
    margin: 0
  }

  #footer span b:first-of-type {
    font-weight: 600
  }

  #footer #social {
    display: flex;
    justify-content: center; 
    width: 100%;
    height: 75px;
    background: #f3f3f3;
  }

  #footer #social a img {
    margin: 15px 0 0;
    height: 36px;
    width: 33px;
    cursor: pointer
  }

  #footer #social a img:hover {
    transform: scale(1.1)
  }

  #footer #social a:last-of-type img {
    width: 28.5px;
    height: 28.5px;
    margin-top: 17.5px;
  }