#admin 
  &.admin-galleries 
    margin-top: 20vh
    #gallery-menu
      width: 15% 
      height: 100% 
      float: left
      ul 
        width: 93%
        margin: 20px auto
        height: 25px
        font-size: 18px
        line-height: 28px
        overflow: hidden
        position: relative
        padding: 15px 0 13px 0
        text-align: center
        cursor: pointer
        border-radius: 4px
        transition: all 0.35s ease
        li 
          width: 60% 
          margin: 0 auto
          text-align: left  
          transition: color 0.15s ease
          padding-bottom: 3px
          &:before 
            opacity: 0
            transition: all 0.15s ease
            color: coral
            width: 10px 
            height: 1px 
            margin: 0 13px 0 -20px 
            content: "\2022"
          &:hover 
            &:before
              opacity: 1
          &:hover 
            color: coral
        &:hover
          height: 90px
          background: white 
          box-shadow: 0px 3px 10px -8px black 
          span 
            display: none
        span 
          position: relative
          right: 0 
          top: 0
          display: inline-block
          float: right
          margin: 0 7px 0 -7px
      .gallery-selector-container
        .gallery-selector 
          cursor: pointer
          width: auto 
          height: auto 
          min-height: 20px
          margin: 5px 0 30px
          padding: 5px 0
          display: inline-block
          &.active 
            margin-left: 5px
            border-left: 2px solid #FF7F50
            color: #FF7F50
            span 
              margin-left: 10px
              padding-right: 10px
          span  
            margin-left: 5px
            pointer-events: none
            display: inline-block
            height: 100%
            font-weight: 600
            padding-right: 15px
            font-size: 16px
            line-height: auto
          p
            overflow-wrap: anywhere 
            pointer-events: none
            display: inline-block
            color: inherit
            font-weight: 400
            letter-spacing: 0
            margin-top: -1px
            line-height: auto
            text-align: left
            height: auto 
            width: 87px 
            fo
        .alter-order 
          display: inline-block
          float: right 
          width: auto 
          height: 100%
          margin: 10px 0 0 0 
          &.hidden 
            color: rgba(0,0,0,0.25)
            span 
              cursor: auto
              &:hover 
                color: rgba(0,0,0,0.25)
          span 
            margin: 0 
            padding: 2px 3px 0
            float: left 
            cursor: pointer
            pointer-events: all
            &:hover 
              color: coral
      .order-lock-toggle 
        font-size: 24px
        text-align: center
        width: 100%
        cursor: pointer
        transition: all 0.15s ease
        &:hover 
          color: coral
      h2
        color: #FF7F50
        font-weight: 600
        letter-spacing: 1
        margin: 0px 0 60px 25px
      p, h2 
        height: 20px
        font-size: 16px   
        line-height: 18px
        cursor: pointer
        vertical-align: middle
