#contact
  max-width: 1200px
  margin: 23vh auto 0 
  transition: padding 0.35s ease
  h1 
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase 
    font-size: 1.5em
    display: block;
    line-height: 24px;
    letter-spacing: 0px;
    position: relative;
    left: 0;
    padding-bottom: 25px;
  div 
    width: 50%
    height: 15vh
    padding-top: 2vh
    display: inline-block
    position: initial
    &.text 
      padding-top: 0
      padding-right: 200px // push button to next line
      p 
        padding-bottom: 15px
    p 
      font-family: 'Open Sans Condensed', sans-serif
      padding-bottom: 5px
      margin-left: 5px
      display: inline-block
      width: 100%
      font-size: 1.25em
      font-weight: 300
      text-transform: uppercase
    input
      font-family: 'Open Sans Condensed', sans-serif
      border: none
      height: 30%
      width: 95%
      outline: none
      border-bottom: 1px solid #989898
      background: #F3f3f3
      font-size: 1.25em
    textarea 
      font-family: 'Open Sans Condensed', sans-serif
      width: 95%
      font-size: 1.25em
      height: 100%
      border: none 
      border-bottom: 1px solid #989898
      box-shadow: 0px 0px 15px 0px inset #efefef
      background: #f3f3f3
      &:active, &:focus
        outline: none
  button   
    font-size: 1.15em
    letter-spacing: 1px
    color: white
    font-family: 'Open Sans Condensed', sans-serif
    width: 48%
    height: 50px
    background: #FF7F50
    border: none
    margin-top: 3vh
    cursor: pointer
    &:active, &:focus
      outline: none