AWS_ACCESS_KEY_ID="MY SECRET AWS APY KEY ID"
AWS_SECRET_ACCESS_KEY="MY SECRET AWS API KEY"
AWS_REGION="MY REGION"

CONTACTABLE_EMAIL="EMAIL ADDRESS TO FORWARD EMAILS TO"
CONTACT_FORM_EMAIL="EMAIL ADDRESS TO SEND EMAIL FROM"
LOGIN_SECRET="THIS IS A SECRET"
REACT_REQUEST_DOMAIN="http://localhost:3000"

STRIPE_WEBHOOK_SECRET="A STRIPE WEBHOOK SECRET FOR PAYMENTINTENT SUCCESS"
STRIPE_SERVER_SECRET="A STRIPE SERVER SIDE SECRET"