html
  head 
    link(href="https://fonts.googleapis.com/css?family=Lato:100&display=swap&text=fnati.c" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap" rel="stylesheet")
    include ../styles/reset.pug
    include ../styles/styles.pug
  body 
    #header
      h2 fnati.c
      p Paula Trojner - Photography