button   
  font-size: 1.15em
  letter-spacing: 1px
  color: white
  font-family: 'Open Sans Condensed', sans-serif
  width: 48%
  height: 50px
  background: #FF7F50
  border: none
  margin-top: 4vh
  cursor: pointer
  transition: color 0.15s linear
  &:active, &:focus
    outline: none
  &:hover 
    color: black