#admin 
  &.admin-galleries 
    #gallery-configuration
      display: inline-block
      float: left 
      width: calc(80% - 15px) 
      height: 100%
      margin-left: calc(5% + 15px)
      h2 
        height: 28px
        width: 100%
        color: #000000
        font-family: Lato
        font-size: 23px
        font-weight: 600
        letter-spacing: 0
        margin: 25px 0 60px 0
        line-height: 28px
      .inputField 
        margin: 0 0 30px 0
      #gallery-input-fields 
        div 
          width: 42.5% 
          
      

