#drag-handler 
  width: 100% 
  height: 76vh
  position: fixed
  top: 14vh 
  left: 0
  display: none 
  cursor: grab
  &.activated 
    display: block
  &.true 
    cursor: grabbing
    
.photoshoot
  height: 84vh
  padding-bottom: 2vh
  display: block
  overflow: visible
  h2
    font-weight: 400
    font-size: 1.5em
    text-transform: uppercase
    letter-spacing: -1px
    display: none
    position: relative
    padding-bottom: 1vh
  .gallery-back
    display: none
    overflow: visible
    float: left
    cursor: pointer
    margin-top: 35px
    &:hover 
      p
        color: coral 
      span 
        background: coral
        width: 85%
    p
      margin-top: -13vh
      transition: all 0.25s ease
      letter-spacing: -1px
      font-weight: 300
      text-transform: none
      font-size: 1.5em
      color: black
      @media only screen and (max-height: 600px)
        margin-top: -14.5vh
    span
      transition: all 0.25s ease
      width: 60%
      height: 1px
      background: black
      display: block
      margin: 4px auto 0
  .photo-wrapper
    overflow: visible 
    height: 84vh
    display: flex 
    cursor: pointer
    img  
      pointer-events: none
      transition: all 0.35s linear 
      width: auto
      display: block
      height: 100%
      object-fit: cover // Forces image outside content area, maintains aspect ratio on weird screens

      &:nth-child(2)
        height: 92%
        margin-top: 4% 
      &:nth-child(3)
        height: 85%
        margin-top: 3%
      &:last-of-type
        width: 75px
        height: 1px
  &.activated
    overflow: visible
    .gallery-back
      display: initial
      overflow: visible
    h2 
      display: block
  &.hidden
    opacity: 0
    h2
      display: block

// Phones and tablets
@media only screen and (max-width: 1200px)
  .photoshoot
    .photo-wrapper
      img
        height: 90%
        display: none
        &:first-of-type
          max-width: 100vw
          height: 100%
          display: block
      .image-1, .image-2
        display: none
      &.hidden
        display: none
    &.activated
      .photo-wrapper
        .image-0
          height: 100%
          max-width: unset
        .image-1, .image-2
          display: block
        img
          display: block

@media screen and ( max-width: 901px  )
  .photoshoot
    .photo-wrapper 
      img 
        width: max-content
@media only screen and (min-height: 701px)
  .photoshoot
    margin-bottom: -7vh
    .gallery-back 
      margin-top: 26px


@media only screen and (min-width: 750px)
  .photoshoot
    margin-bottom: 0

@media only screen and (max-width: 1100px)
  .photoshoot
    margin-bottom: 2vh
    &.hidden
      display: none
    .gallery-back
      margin-top: 17px

// tablets
@media only screen and (min-width: 701px) and (max-width: 1200px)
  .photoshoot
    .photo-wrapper
      img
        object-fit: scale-down
  
@media only screen and (min-width: 1200px)
  .photoshoot
    .photo-wrapper
      img
        width: auto
        max-width: unset
        height: 100%

@media only screen and (max-width: 700px)
  .photoshoot
    h2 
      margin: 0 
      padding-top: 10px
