style(type='text/css').
  body, html, head { 
    background: #F3F3F3; 
    width: 100%;
    height: auto; 
    overflow: auto;
  }
  body { 
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    max-width: 650px;
    width: 100%;
    height: auto; 
    overflow: auto;
    margin: 0 auto;
  }
  #header { 
    width: 100%; 
    height: 150px; 
  }
  #header h2 { 
    font-family: "Lato", sans-serif; 
    font-size: 3em; 
    padding-top: 20px;
  }
  #header p { 
    font-size: 1em; 
    text-transform: capitalize;
    padding-top: 25px;
  }

  #confirmation { 
    width: 100%;
    height: 150px;
    background: white; 
  }
  #confirmation h3 { 
    font-size: 1.25em;
    padding-top: 35px;
  }
  #confirmation p {
    font-size: 0.9em; 
    max-width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  } 